body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive;
  width: 100%;
  height: 100%;
}

/* ----------- */

.header {
  display: flex;
  height: 64px;
  background-color: #f2f2f2;
  padding: 30px 0 0 64px;
}

.logo {
  margin: 0;
  font-size: 30px;
  font-weight: lighter;
}

.titleContent {
  display: flex;
  background-color: #f2f2f2;
  height: calc(100% - 94px);
}

.contentTexts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 0 64px;
}

.logoBold {
  font-weight: bold;
}

.title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  width: 50%;
  margin: auto 0;
}

.description {
  font-size: 18px;
  line-height: 25px;
  width: 45%;
}

.descriptionLink {
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
}

.descriptionLink:hover {
  opacity: 0.5;
  transition: 0.4s;
}

/*------------*/
.contentPics {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.image {
  position: relative;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.square {
  position: absolute;
  top: 130px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}