@import url('./feinmanContent/feinmanContent.css');

.feinman {
    box-sizing: border-box;
    height: 790px;
    background-color: var(--second-bg-color);
    background-image: url('../../images/feinman.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 100% contain;
    padding-top: 100px;
}